* {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
#hero {
  width: 100%;
}
h1 {
  color: blue;
  padding: 10px;
}
p {
  padding: 10px;
}
.social-link {
  color: white;
  font-size: 14px;
}

#navbar {
  background-color: #303030;
  color: aliceblue;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: larger;
}
#navbar a {
  color: aliceblue;
  text-decoration: none;
}
#navbar a:hover {
  color: burlywood;
}

aside {
  width: 30%;
  float: right;
  background-color: lightblue;
  padding-bottom: 5px;
}
aside h2 {
  padding-top: 20px;
}
aside ol {
  padding: 5px;
}
aside li {
  padding: 5px;
}
footer {
  background-color: #303030;
  color: aliceblue;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#newarrival {
  background-color: rgb(186, 155, 216);
  border-color: blueviolet;
  border-width: 2px;
  border-style: solid;
}

#newarrival h2 {
  padding-top: 10px;
}

#newarrival li {
  /* float: left; */
  padding: 10px;
  width: 70%;
}

#contactform {
  margin-top: 10px;
  background-color: lightgrey;
  padding: 20px;
}

#producttable {
  margin-right: auto;
  margin-left: auto;
}

#producttable td {
  padding: 20px;
}

.productimage {
  padding-bottom: 20px;
}

.productname {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 15px;
}

.productdescription {
  text-align: center;
  font-size: smaller;
  word-wrap: normal;
  padding-bottom: 15px;
}

.productprice {
  text-align: center;
  font-style: italic;
}
